<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {{ site_title() }} {% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %} {{ site_description() }} {% endblock %}">
    <meta name="author" content="Librarian">

    {% block includes %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- Custom styles for this template -->
        <link href="/css/default.css" rel="stylesheet">
    {% endblock %}
</head>

<body>

<div class="container blog-header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item blog-header-logo" href="{{ site_root() }}">{{ site_title() }}</a>
            </div>

            {#  {% include '_partials/menu.html.twig' %}#}

            <div class="column has-text-right">
                <a href="{{ site_root() }}" title="Home">
                    <span class="icon is-medium"><i class="fas fas-lg fa-home"></i></span>
                </a>

                {% for title,link in social_links() %}
                    {% if link %}
                        <a href="{{ link }}" title="{{ title }}">
                            <span class="icon">
                                <i class="fab fa-{{ title|lower }}"></i>
                            </span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>

    {% block featured_content %}
    {% endblock %}
</div>

<div class="container px-2">
    <div class="columns">
        <div class="column is-three-quarters pr-6">
            {% block content %}
            {% endblock %}
        </div>

        {% include '_partials/sidebar.html.twig' %}
    </div>

</div>

{% include '_partials/footer.html.twig' %}
<script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</body>

</html>

