<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {{ site_title() }} {% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %} {{ site_description() }} {% endblock %}">
    <meta name="author" content="Librarian">

    <link href="{{ site_root() }}css/app.css" rel="stylesheet">

    {% block includes %}
    {% endblock %}
</head>

<body class="bg-gray-100">

<div class="text-center bg-gray-100 py-3 shadow-sm">
    <div class="container mx-auto">
        <div class="grid grid-cols-4 gap-6">
            <div class="pb-2 text-left px-2">
                <h1 class="header text-5xl"><a href="{{ site_root() }}">{{ site_title() }}</a></h1>
            </div>

            <div class="col-span-2">

            </div>

            <div class="text-right">
                <a href="{{ site_root() }}" title="Home">
                    <span class="icon is-medium"><i class="fas fas-lg fa-home"></i></span>
                </a>

                {% for title,link in social_links() %}
                    {% if link %}
                        <a href="{{ link }}" title="{{ title }}">
                            <span class="icon">
                                <i class="fab fa-{{ title|lower }}"></i>
                            </span>
                        </a>
                    {% endif %}
                {% endfor %}

                <a href="{{ site_root() }}feed" title="RSS Feed">
                    <span class="icon is-medium"><i class="fas fas-lg fa-rss"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
        <div class="lg:col-span-3 px-6 py-6 bg-gray-50 mt-6 rounded-md shadow-lg">
            {% block content %}
            {% endblock %}
        </div>

        <div>
        {% include '_partials/sidebar.html.twig' %}
        </div>
    </div>
</div>

{% include '_partials/footer.html.twig' %}

<script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
<script type="text/javascript" src="{{ site_root() }}js/prism.js"></script>
</body>

</html>

