<div class="blog-post">
    {% if content.cover_image %}
        <img class="cover-image" src="{{ content.cover_image|raw }}" alt="cover image">
    {% endif %}

    <h3 class="blog-post-title"><a href="{{ site_root() }}{{ content.link }}">{{ content.title }}</a></h3>
    <p class="blog-post-meta">{{ content.published }} by <a href="#">Erika</a></p>

    {% if full %}
        {{ content.body_html|raw }}
    {% else %}
        {{ content.description|default('No description provided.') }}
        <p><a href="{{ site_root() }}{{ content.link }}">Read More...</a></p>
    {% endif %}

    {% if content.tag_list %}
        <p class="tag-list">{{ content.linked_tag_list|raw }}</p>
    {% endif %}
</div>