<div class="column blog-sidebar">
    <div class="box">
        <div class="has-text-centered">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="https://picsum.photos/seed/128/128">
            </figure>
        </div>

        <p class="mb-0 has-text-justified">{{ site_about() }}</p>
    </div>

    <div class="box">
        <aside class="menu">
            <p class="menu-label">
                Topics
            </p>
            <ul class="menu-list">
                {% for tag_name, posts in tag_list() %}
                    <li><a href="/tag/{{ tag_name }}">{{ tag_name }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>

    <div class="box p4">
        <aside class="menu">
            <p class="menu-label">
                Social
            </p>
            <ul class="menu-list">
                {% for title,link in social_links() %}
                    {%  if link %}<li><a href="{{ link }}" title="{{ title }}"><span class="icon"><i class="fab fa-{{ title|lower }}"></i></span> {{ title }}</a></li>{% endif %}
                {% endfor %}
            </ul>
        </aside>
    </div>


</div><!-- /.blog-sidebar -->
