<aside class="col-md-4 blog-sidebar">
    <div class="p-4 mb-3 mt-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">{{ site_about() }}</p>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Get Social</h4>
        <ol class="list-unstyled">
            {% for title,link in social_links() %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        </ol>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Tag List</h4>
        <ol class="list-unstyled mb-0">
            {% for tag_name, posts in tag_list() %}
                <li><a href="/tag/{{ tag_name }}">{{ tag_name }}</a></li>
            {% endfor %}
        </ol>
    </div>

</aside><!-- /.blog-sidebar -->
